.margin-top-6
{
  margin-top:6px;
}
body{
  background-color: white;
}
#cover
{
  height:30%;
  width:100%;
  background-color:#2d2c2c;
  margin-top: -30px;
}
#profilepicturelg
{
position: relative;
top:40px;
}
.profilepic{
  border-style: solid;
    border-width: medium;
    border-color: white;
      box-shadow: 0px 4px 14px 8px rgba(0,0,0,0.2);
}
#profilepicsm
{
  position: relative;
  top:50px;



}
#profilepicturesm img{

margin: 0 auto;

}
#userdetailslg
{
  margin-top: 50px;

}
.cloud{
  color:#e0dcdc !important;
}
#userdetailssm
{
  margin-top: 50px;
  text-align: center;


}
.navbar-default
{
  background-color: white !important;
}
#about
{
  margin-top: -3%;

}
h4{

  color:#2d2c2c;
}
#contentnavbar
{
  background-color: #2d2c2c;
  margin-top: 15px;
  margin-bottom: 15px;
}
.imagelement
{
  margin-bottom: 20px;
}
#contentsec
{

  margin-top: -25px;
  width:97.2%;

}
.graytext
{
  color:#2d2c2c;
}
#contentsec i {
  font-size: 8em;
  margin-left:40%;
  margin-top: 10%;
  margin-bottom: 12%;
  color:gray;
}
#contentsec .row:nth-child(2){
  margin-left:38.5% !important;
  margin-top: -9% !important;
  margin-bottom: 10%;

}
footer{


    width: 100%;

    line-height: 60px;
    background-color: #2d2c2c;
}
#contentwrapper{
  margin-bottom: 7% !important;

}



/* Gallery styles*/

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
.gallerylg
{
  padding:35px;

}
.gallerylg a {
  margin: 5px;
}
.gallerysm
{
  padding:20px;
  margin:5px;
}

/* End of gallery styles*/
.sicon{

}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.lobar
{
  width:100%;
  height:50px;
  background-color: white;
  color:white;
}

#contentsec{
  width:100%;
}
.zoom-gallery img{
box-shadow: 0 0 20px #000;
}

#contentnav .navbar
{
  margin:0 !important;
  padding: 0 !important;
  width:100%;
  border-radius: 0px !important;
}
#contentnavbar{
  width: 100%;
}
.gallerylg{
  margin-top: 1%;
}
.contentsm
{
  margin-top: 10%;
}
.sectionheader
{
 text-align: center;
 background-color: #2d2c2c;
}
.sectionheader h4
{
  color: #9aa4af !important;
}






.padding-all-5{
padding-top: 10px;
padding-bottom: 20px;
}

.middle{
  margin:0 auto;
}


/*accordion*/

.panel-heading
{
  text-align: center;

}
.panel-title a{
  display: block;

}
.text-muted
{

}
.center-align{
  text-align: center;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #2ecc71;
}
.nav-pills{
  padding:10px;

}
.nav-pills a{
  color:#2d2c2c;
}
.card img:hover
{
  cursor:pointer;
}
.overlay{
  width: 200px;
  height: 200px;
  position: absolute;

  opacity: 0.3;
  background-color: gray;
  text-align: center;
}
.card i{
opacity: 1 !important;
color: white;
top:0;
top:24%;
z-index: 10;
left:27%;
position:absolute;
cursor: pointer;

}
.box-shadow{
    box-shadow: 0px 4px 14px 8px rgba(0,0,0,0.2);
}
/*endofaccordion*/
.physicaldetailssm td,.physicaldetailssm tr{
display:block;
}

.physicaldetailssm .th{
  display:inline-block;
  min-width: 120px;

}

.physicaldetailslg .th{
  display:inline-block;
  min-width: 160px;

}
.experiencelist ul{
  list-style: none;
}
#sendmessage textarea{
  resize: none;f
}
